blockquote {
    background-color: rgba(0, 0, 0, .12);
    padding: 8px;
}

blockquote::before {
    content: '"';
}

blockquote::after {
    content: '"';
}

p::first-letter {

    float: left;
    color: darkred;
    border: 3px ridge darkgoldenrod;
    padding: 16px;
    background-color: gold;
    margin: 8px;

}

a:hover {
    color: darkred;
    text-decoration: none;
    text-transform: uppercase;
}