* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
}

.yellow {
    order: 1;
}

.red {
    order: 2;
}

.green {
    order: 3;
}

.orange {
    order: 4;
    flex-grow: 1;
}

.blue {
    order: 5;
}