<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-20">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROVAPROVA...</title>
    <link rel="stylesheet" href="/layouts/style.css" />
</head>

<body>
    <main class="card">
        <div>
            <img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg" alt="" class="image">
            <div class="card-body">
                <div class="card-title">Card title</div>
                <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
            </div>
        </div>
        <ul class="section">
            <li class="section_item">
                <article>An item</article>
            </li>
            <li class="section_item">
                <article>A second item</article>
            </li>
            <li class="section_item">
                <article>A third item</article>
            </li>
            <li class="section_item">
                <a href="www.google.com" class="card-links">Card Link</a>
                <a href="www.bing.com" class="card-links">Another Link</a>
            </li>
        </ul>
    </main>

</body>

</html>